*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body{
  background-color: #020202;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .header{
  width: 100%;
  height: 80px;
 }
 .container{
  width: 1296px;
  height: 176px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 24px;
  margin-top:-40px;
 }
 .logo img{
  width: 136px;
  height: auto;
 }
 .menu ul{
  display: inline-flex;
  margin: 16px;
  padding: 48px;
 }
 .menu ul a{
  color: #fff;
  margin: 16px;
  text-decoration: none;
 }
 .btn {
  color: #fff;
  border: 2px solid #fff;
  margin: 48px;
  border-radius: 8px;
  text-decoration: none;
  padding: 16px 24px;
 }
 hr{
  margin-top: -32px;
 }
 .section .box {
   width: 100%;
   max-width: 1296px;
   margin: 40px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 40px;
   padding: 24px;
   margin-bottom:-72px;
 }
 .section .img{
  padding-left: 64px;
 }

 .conteudo {
   display: flex;
   flex-direction: column;
   gap: 24px;
   max-width: 50%;
   margin-bottom: 32px;
 }

 .box h2 {
   color: #fff;
   margin: 0;
  font-weight: 300;
   letter-spacing: 1px;
   font-size: 30px;
 }
 .destaque {
  font-weight: bold;
  font-size: 40px;
 }
 .box p {
   color: #fff;
   margin: 0;
   margin-bottom: 32px;
   font-weight: lighter;
   font-size: 20px;
 }
 
 .btn1 {
   color: #fff;
   background-color: transparent;
   border: 1px solid #fff;
   padding: 24px 24px;
   text-decoration: none;
   border-radius: 8px;
   transition: 0.3s;
   width: 172px;
   margin-top: -32px;
 }
 
 .btn1:hover {
   background-color: #fff;
   color: #020202;
 }
 
 .img img {
   max-width: 500px;
   height: auto;
 }
 

 
 .section .box1 {
   width: 100%;
   max-width: 1240px;
   margin: 40px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 24px;
   background: linear-gradient(89.95deg, #91282F 0.44%, #330002 98.92%);

 }
 
 .conteudo2 {
   display: flex;
   flex-direction: column;
   gap: 24px;
   max-width: 50%;
 } 
 .box1 h2 {
   color: #fff;
   margin: 0;
   font-size: 32px;
   font-weight: lighter;
 }
 
 .box1 p {
   color: #fff;
   margin: 0;
   margin-bottom: 16px;
   font-weight: lighter;
 }
 
 .btn1 {
   color: #fff;
   background-color: #020202;
   border: 1px solid #fff;
   padding: 10px 20px;
   text-decoration: none;
   border-radius: 6px;
   transition: 0.3s;
   width: fit-content;
 }

 .btn1:hover {
   background-color: #fff;
   color: #020202;
 }
 
 .img img {
   max-width: 500px;
   height: auto;
 }

 .footer{
  margin-bottom:48px;
  padding: 32px 32px;
  width:auto 0;
  background-color: #fff;
  text-align: center;
 }
 .footer hr{
  margin-top: 32px;
  margin-bottom: 16px;
  margin-left: 300px;
  margin-right: 300px;
 }
 .footer h4{
  font-weight: lighter;
  font-size: 16px;
  margin-left: 296px;
  margin-right: 296px;
 }
 .footer h5{
  display: flex;
  flex-direction: row;
  margin-left: 296px;
  font-weight: lighter;
 }

 .footer .texto{
  display: flex;
  flex-direction: row;
  margin-left: 1200px;
  justify-content: space-evenly;
  margin-top: -16px;
  margin-right: 284px;
 }
/*mobile responsive*/
@media screen and (max-width: 768px){
.container{
  height: auto;
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.menu .btn{
  align-content: center;
  margin-left: 180px;
}
.box{
  display: flex;
  flex-direction: column;
}
.box1{
  display: flex;
  flex-direction: column;
}
.section img{
  width: 100%;
}
 .conteudo img{
  width: 100%;
 }